html {
  font-size:100%;
}

.form-inline {
  text-align:center;
  margin-top: 5em;
  /*width:80%;*/
}

/*#container {
  text-align: center;
}
*/

@media only screen and (min-width: 1024px) {
  #gameInput input {
    text-align: center;
    font-size: 1.8em;
    vertical-align: middle;
    margin-left: 0.1em;
    margin-right: 0.1em;
    /*margin-right: 10%;*/
  }
}

@media only screen and (max-width: 375px) {
  #gameInput input {
    text-align: center;
    font-size: 1.8em;
    vertical-align: middle;
  /*  margin-left: 0.1em;
    margin-right: 0.1em;*/
    /*margin-right: 10%;*/
  }

  .col-xs-6 {
    width: 80%;
  }

  .col-xs-3 {
    width: 10%;
  }
}

#buttonContainer {
  margin-top: 5em;
  text-align: center;
  font-size:100%;
}

#gameButton {
  text-align: center;
  font-size: 1.3em;
  vertical-align: middle;
}

#ans {
  text-align: center;
  font-size: 1.8em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#title {
  text-align: center;
  font-size: 2.5em;
  margin-top: 4em;
}

